.SettingsGridPage {
    display: flex; /* 使用 flexbox 布局 */
    height: 100%;
  }
.SettingsGridPage-InfoPanelGrid{
    width: 120%;
    margin-left: 10px;
    
 
   
}
.SettingsGridPage-Grid .table-container {
  height: 68vh;
}
