/* components/LeftSidebar/LeftSidebar.css */
.left-sidebar {
  background-color: #3e86cf;
  /* padding: 20px; */
  width: 100px;
  /* border-right: 1px solid #dee2e6; */
}

.icon{
  width: 50px;
  height: auto;
  margin-left: 50px; 
}
