.downloadChart,
.downloadPNG,
.downloadJPG,
.downloadSVG {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
    height: 22px;
    padding: 0;
    margin: 0;
}

.downloadChart {
    background: url('../../img/pfmchart_img_21.svg') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 22px;
    margin: 0 10px;
}
.downloadPNG{
    background: url('../../img/pfmchart_img_22.svg') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 20px;
}
.downloadJPG{
    background: url('../../img/pfmchart_img_23.svg') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 20px;
}
.downloadSVG{
    background: url('../../img/pfmchart_img_24.svg') no-repeat center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 20px;

}


.container-chart {
    display: flex;
    align-items: center;
}