.grid-container {
    margin: 0 10px;
    padding: 0px 010px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    height: 482px;
    width: 100%;
    overflow-x: auto;
}

.table-title {
    display: flex;
    justify-content: space-between;

}
.table-title-left {
    color: #2d70d4;
    padding-left: 90px;
    white-space: nowrap;
}

.table-title-right {
    color: #2d70d4;
    padding-right: 90px;
    white-space: nowrap;
}

.table-body-cell-a, .table-body-cell   {
    border: 1px solid #ddd;
    padding: 5px !important;
    text-align: center!important;
    font-size: 15px !important;
    white-space: nowrap;

}
.table-head-cell{
    background-color: #f3f3f3 !important;
    border: 1px solid #ddd;
    padding: 5px 0px !important;
    text-align: center !important;
    white-space: nowrap;
    font-size: 15px !important;
 
  }
  .table-body-cell-a ,#table-head-cell-a{
    background-color: #f3f3f3 !important;
    border-right: 2px solid #9e9a9a;
  }
  .table-body-cell{
    background-color: var(--cell-bg-color);
    color:var(--cell-color) !important;
  }