.grid-container {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.table-container {
    overflow: auto;
}

.table-title {
    display: flex;
    /* 使用 Flexbox 布局 */
    justify-content: space-between;
    /* 两端对齐 */
    padding: 0 16px;
    /* 内边距 */
    border-bottom: 1px solid #ccc;

}

.table-title-left {
    font-size: 10px;
    /* 字体大小 */
    color: #2d70d4;
    /* 字体颜色 */
    padding-left: 90px;
    white-space: nowrap;
    /* 防止换行 */
}

.table-title-right {
    font-size: 10px;
    /* 字体大小 */
    color: #2d70d4;
    /* 字体颜色 */
    text-align: right;
    /* 右对齐 */
    padding-right: 90px;
    white-space: nowrap;
    /* 防止换行 */
}

.table-body-cell-a, .table-body-cell   {
    /* 你可以添加更多样式，比如边框、填充等 */
    border: 1px solid #ddd;
    padding: 0px !important;
    text-align: center!important;
    /* 内容居中 */
}
/* 背景色为灰色的表头单元格 */
.table-head-cell{
    background-color: #e8ecf0 !important;
    border: 1px solid #ddd;
    padding: 5px 0px !important;
    text-align: center !important;
  }
  .table-body-cell-a{
    background-color: #e8ecf0 !important;
  }

  .table-body-cell{
    background-color: var(--cell-bg-color); /* 默认颜色为白色 */
    color:var(--cell-color) !important;
  }