
.body{
  width: 100%;
}
.header {
  height: 60px;
  background-color: #143867;
  /* padding-left:19px; */
  display: flex;
  grid-column: 1 / -1; /* 占据所有列 */
  width: 100%; /* 确保宽度占满 */
  align-items: center; /* 使子元素在交叉轴上居中 */
  justify-content: space-between; /* 使子元素在主轴上两端对齐 */
}

.quick {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  margin-left: 30px;
  align-items: center; /* 使元素在交叉轴上居中 */
}

.settings-icon {
  width: 24px; /* 你可以根据需要调整图标的宽度 */
  height: 24px; /* 你可以根据需要调整图标的高度 */
  background-image: url('../../img/settings.svg'); /* 替换为你的图标路径 */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: auto; /* 自动填充左侧空间，右对齐 */
  padding-right:500px ;
}
