.grid-container {
  width: 880px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-containergrid {
  max-height: 460px;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 880px;
}

.custom-table-cell-a,
.custom-table-cell {
  border: 1px solid #ddd;
  padding: 0px !important;
  text-align: right !important;
}

#time {
  min-width: 65px;
}

.custom-table-cell {
  max-width: 50px;
  background-color: #e8ecf0 !important;
  border: 1px solid #ddd;
  padding: 5px 0px !important;
  text-align: center !important;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 -1px 0 0 #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.Tablehead-historical {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 15;
}

.custom-header-cell {
  background-color: #e8ecf0 !important;
  border: 1px solid #ddd;
  padding: 5px 0px !important;
  text-align: center !important;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 -1px 0 0 #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.custom-table-cell-a {
  padding: 5px !important;
  background-color: var(--cell-bg-color);
  color: var(--cell-color) !important;
}

.center-align {
  text-align: center !important;
}

.print-table {
  display: none;
}

@media print {
  .print-table>table {
    page-break-after: always;
    border-collapse: collapse;
    table-layout: auto;
    width: auto;
  }

  .print-table th,
  .print-table td {
    border: 1px solid #000 !important;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }

  .print-table tr {
    page-break-inside: auto;
    height: auto;
  }

  .print-table {
    height: auto !important;
    display: block;
    margin: 0;
    padding: 0;
  }
}