.commonsp {
    width: 25vw;
    margin-top: 9vh;
    margin-left: 1vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 250px;
    height: 80vh;
    
}

.title-1 {
    position: relative;
    padding-left: 20px;
    /* 留出空间给竖线 */
    font-weight:600 ; 
    padding: 10px;
}

.title-1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    /* 线条的宽度 */
    height: 100%;
    /* 线条的高度 */
    background-color: #143867;
    /* 线条的颜色 */
    border-radius: 8px;
    /* 圆角 */
}
#title-2{
    margin-top: 10vh;
}