
.left-sidebar {
  position: absolute; /* 使用绝对定位 */
  top: 45px;
  left:10px;
}

.icon{
  width: 80px;
  height: auto;
  position: relative; /* 确保 z-index 生效，需要相对定位 */
  z-index: 9999; /* 设置一个较高的 z-index 值 */
  /* margin-top: 1vh; */
}
.button-container {
  border: 1px solid #007bff; /* 边框颜色 */
  border-radius: 8px; /* 圆角效果 */
  position: absolute; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  z-index: 1000; /* 设置一个较高的 z-index 值 */
  margin-top: -7px; /* 使用负值消除空隙 */
}
