.ChartBottom {
    flex-direction: column;
}
.ChartBottom-top .infoPanelGrid-Grid .table-container{
    height: 30vh;
}
.ChartBottom-top .infoPanelGrid .toggle-button{
    margin-left: 3vw;
}
.ChartBottom-top{
    margin-left: 1vw;
}
