.C{
  width: 50%;
  margin-top: 80px;
  margin-left: -60px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 两列布局，第一个列较窄，第二列较宽 */
  gap: 20px; /* 列之间的间距 */
  grid-template-rows: auto; /* 行高自动调整 */
}

.grid-container .C {
  grid-column: 1; /* 第一列 */
}

.grid-container .grid-chart-page {
  grid-column: 2; /* 第二列 */
}
