* {
  font-size: 13px;
}

.inline-container {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper p {
  margin-right: 5px;
  margin-bottom: 5px;
}

.color-picker-column input {
  margin: 0px 10px;
  width: 80px;
}

.text-column {
  margin-top: 10px;
  width: 100px;
  font-size: 13px;
  margin-bottom: 9px;
}

.header-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header-p {
  text-align: center;
  margin: 0px 10px;
  width: 80px;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.inline-element {
  margin-right: 50px;
  font-size: 13px;
}

.settings-icon {
  background-image: url('../../img/settings_24dp_FFFFFF.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 22px; 
  width: 22px;  
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left center;
}

.category-title {
  position: relative;
  font-weight: 700;
  font-size: 15px;
  padding-left: 10px;

}

.category-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #143867;
  border-radius: 2px;
}

.sub-title {
  font-weight: 700;
  font-size: 13px;
  margin: 5px;
}

.custom-button {
  background-color: white;
  color: gray;
  border: 2px solid gray;
  margin-right: 30px;
}

.color-picker {
  margin-left: 10px;
}

.container-p,.header-p{
  font-size: 13px;
}
.header-p{

}