
.ChartBottom {
  flex-direction: column;
  width: 1200px;
}

.ChartBottom-top .infoPanelGrid .toggle-button {
  margin-left: 280px
}

.ChartBottom-top {
  margin-left: 20px;

}

.ConfigChartBottom {
  display: flex;
  width: 1000px;
}

.right-column {
  width: 100%;
  margin-left: 10px;
}

.ChartPage-InfoPanel .toggle-button {
  margin-left: 280px
}

.ChartPage {
  width: 1000px;
  margin-left: 20px;
}

.GridChartPage {
  display: flex;
  margin-left: 20px;
}

.GridChartPage-InfoPanel .toggle-button {
  margin-left: 280px
}

.GridChartPage-GRid .grid-container {
  width: 670px;
}

.gridnomi .toggle-button {
  margin-left: 280px

}

.gridnomi {
  height: 100%;
  width: 1100px;
  margin-left: 20px;
}

.InfoPanelHistoricalGrid {
  width: 1200px;
}

.InfoPanelHistoricalGrid .toggle-button {
  margin-left: 280px
}

.SettingsChartGridPage {
  display: flex;
}

.SettingsChartGridPage-InfoPanelGrid {
  margin-left: 10px;
}

.SettingsChartGridPage-InfoPanelGrid .grid-container {
  width: 560px;
}

.SettingsChartPage {
  display: flex;
}

.SettingsChart-InfoPanelChart {
  margin-left: 10px;
}

.SettingsGridPage {
  display: flex;
}

.SettingsGridPage-InfoPanelGrid {
  margin-left: 10px;
  width: 900px;
}