.header {
  background-color: #143867;
  display: flex;
  width: 100%;
  min-width: 1200px; 
  align-items: center; 
  justify-content: center;
}

.quick {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
}

.overlay-text {
  margin-right: 800px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px; 
  white-space: nowrap;
}

.header-div{
  background-color: #143867;
  display: flex;
  width: 100%;
  min-width: 1200px; 
  align-items: center; 
  justify-content: center;
}