.SettingsChartGridPage {
  display: flex;
  /* 将容器的布局模式设置为 flexbox 布局 */
}

.SettingsChartGridPage-InfoPanelGrid {
  margin: 5px;
  /* 设置子元素之间没有间距 */
}

.SettingsChartGridPage-InfoPanelGrid .table-container {
  /* width: 70%; */
}
.SettingsChartGridPage-InfoPanelGrid .grid-container{
  width: 50vw;
}

