.GridChartPage{
  display: flex;
  margin-left: 1vw;
  
}
.GridChartPage-InfoPanel .toggle-button{
  margin-left: 50px;
}
.GridChartPage-GRid .table-container{
  height: 77vh;
  min-width: 80vw;
}

.GridChartPage-Chart {
  /* width: 20%; */
}

