.GridChartPage{
  display: flex;
  margin-left: 1vw;
  
}
.GridChartPage-InfoPanel .toggle-button{
  margin-left: 50px;
}

.GridChartPage-GRid .grid-container{
  width: 52vw;
  height: 67vh;
}

.GridChartPage-Chart {
  /* width: 20%; */
}

