.utilities-container {
  margin-left: 950px;
  display: flex;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
}

.help-button,
.print-icon,
.download-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
  line-height: 30px;
}

.print-icon,
.download-button {
  height: 24px;
  width: 24px;
  margin: 8px;
}

.print-icon {
  background-image: url('../../img/icon_print_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.help {
  width: 90px;
  height: 32px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 16px;
}

.help-button {
  background-image: url('../../img/icon_info_white.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
}

.help-p {
  margin: 0;
  margin-left: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.download-button {
  background-image: url('../../img/icon_download_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media print {
  .commonsp-top,
  .help-button,
  .header,
  .left-sidebar,
  .table-containergrid {
    display: none;
  }

  html {
    overflow-x: hidden !important;
  }

  .body {
    transform: scale(0.9);
    transform-origin: top left;
  }

  .grid-container {
    width: auto !important;
    height: auto !important;
  }

  .table-container {
    height: auto !important;
    width: auto !important;
  }

  .infoPanelGrid {
    height: auto !important;
    width: auto !important;
  }

  .highlight-cell {
    min-width: 50px !important;
  }

  .Chart {
    width: 100% !important;
    height: auto !important;
  }

  .InfoPanelHistoricalGrid {
    width: auto !important;
  }
}