.grid-container{
    border: 1px solid #ccc; 
    overflow-x: auto;
    max-width: 70vw;
}
.table-container {
    overflow: auto;
    max-width: 100vw;
}
.table-title {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: space-between; /* 两端对齐 */
    padding: 0 16px; /* 内边距 */
    border-bottom: 1px solid #ccc;
  
}
.table-title-left {
    font-size: 10px; /* 字体大小 */
    color: #2d70d4; /* 字体颜色 */
    padding-left: 13vw;
}
.table-title-right {
    font-size: 10px; /* 字体大小 */
    color: #2d70d4; /* 字体颜色 */
    text-align: right; /* 右对齐 */
    padding-right: 17vw;
}

