.commonsp {
    /* width: 30vw; */
    margin-top: 40px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 250px;
    min-height: 490px;
    max-width: 500px;
    max-height: 600px;
    width: 270px;

    
}

.title-1 {
    position: relative;
    padding-left: 20px;
    /* 留出空间给竖线 */
    font-weight:600 ; 
    padding: 10px;
}

.title-1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    /* 线条的宽度 */
    height: 50%;
    /* 线条的高度 */
    background-color: #143867;
    /* 线条的颜色 */
    border-radius: 8px;
    /* 圆角 */
}
 .ToggleButton {
    height: 30px;
    font-size: 14px;
    padding: 4px !important;

  }
   
  #demo-simple-select {
    padding: 10px;
    padding-right: 30px;
  }
  .MuiInputBase-input[type="time"] {
    padding: 4px; /* 适当调整输入框的内边距 */
  }
  .MuiInputBase-input[type="time"] {
    font-size: 14px;
    /* width: 120px; */
  }
  .counter-controls{
    margin-top: 10px !important;

  }
  .content-container {
    height: 80px; /* 根据需要调整高度 */
    overflow: auto; /* 如果内容超过高度，允许滚动 */
  }
  